@model MVCCitel.Models.UpdateProductViewModel
@{
}

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Edite a Categoria</h3></div>
                            <div class="card-body">
                                <form method="post" action="View">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputId" type="number" asp-for="Id" readonly/>
                                                <label for="inputId" >Id</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputFirstName" type="text" asp-for="Name"/>
                                                <label for="inputFirstName" >Nome</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" asp-for="Description" id="inputDescription" type="text"  />
                                                <label for="inputDescription" >Descrição</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" asp-for="Price" id="inputPrice" type="text"  />
                                                <label for="inputPrice" >Preço</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" asp-for="CategoryId" id="inputCategoryId" type="text"  />
                                                <label for="inputCategoryId" >ID da Categoria</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input class="form-control" asp-for="CreatedAt" id="inputDate" type="date" readonly />
                                                <label for="inputDate" >Criado em</label>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="mt-4 mb-0">
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Product">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
