@{
    ViewData["Title"] = "Home Page";
}

<main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Bem vindo!</h1>
            <h2 class="mt-2">Eu sou o candidato Renan!</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <i class="fas fa-star"></i> Você ainda pode conhecer mais do meu trabalho no meu site:
                    <a target="_blank" href="https://nansoftware.com.br/">Nan Software</a> <i class="fas fa-star"></i>
                    .
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-check"></i>
                    Requisitos do processo Seletivo da Citel
                </div>
                <div class="card-body">
                    <h3 class="mt-1">Prazo:</h3>
                    <ul class="navbar-nav">
                        <li><i class="fa-solid fa-check"></i > 5 dias corridos. Data final: 23:59 de 04/10/2023; Entregue em: 01/10/2023;(Tive que fazer em 2 dias)</li>
                    </ul>
                    <h3>Banco de dados:</h3>
                    <ul class="navbar-nav">
                        <li><i class="fa-solid fa-check"></i > Atividade 1: Criação das entidades de Produto e Categoria;</li>
                    </ul>
                    <h3>Backend:</h3>
                    <ul class="navbar-nav">
                        <li><i class="fa-solid fa-check"></i > Atividade 2: Criação de Web API MVC ASP NET Core, com CRUD para:
        Api de Produtos e 
        Api de Categorias;</li>
                        <li><i class="fa-solid fa-check"></i > Atividade 3: Consumir o banco de dados criado;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 1: Estruturação de Código;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 2: Qualidade de Escrita;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 3: Uso de Pattern;</li>
                        <li> Extra 4: Micro Serviços;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 5: Injeção de Dependência;</li>
                        <li> Extra 6: Swagger;</li>
                        <li><i class="fa-solid fa-check"></i > *Bônus*: Testes unitários nas regras de negócio; </li>
                        <li><i class="fa-solid fa-check"></i > *Bônus*: Containers Docker;  </li>
                    </ul>
                    <h3>Frontend:</h3>
                    <ul class="navbar-nav">
                        <li> Atividade 4: Criação de WEB APPLICATION consumindo as WEB APIs com os respectivos CRUDS:
        Produtos e 
        Categorias;</li>
                        <li><i class="fa-solid fa-check"></i > Ativedade 5: Uso de Bootstrap com visual agradável;</li>
                        <li><i class="fa-solid fa-check"></i > Extra: UX;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 2: Qualidade de Escrita;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 3: Uso de Pattern;</li>
                        <li> Extra 4: Micro Serviços;</li>
                        <li><i class="fa-solid fa-check"></i > Extra 5: Injeção de Dependência;</li>
                        <li> Extra 6: Swagger;</li>
                        <li><i class="fa-solid fa-check"></i > *Bônus*: Testes unitários nas regras de negócio; </li>
                        <li><i class="fa-solid fa-check"></i > *Bônus*: Containers Docker;  </li>
                    </ul>
                    <h3>Deploy:</h3>
                    <ul class="navbar-nav">
                        <li> Atividade 4: Criação de WEB APPLICATION consumindo as WEB APIs com os respectivos CRUDS:
        Produtos e 
        Categorias;</li>
                        <li><i class="fa-solid fa-check"></i > Versionar os códigos fontes criados;</li>
                        <li><i class="fa-solid fa-check"></i > Estrutura/script do banco de dados;</li>
                        <li><i class="fa-solid fa-check"></i > Devidas instruções, via git BitBucket ou GitHubs;</li>
                        <li><i class="fa-solid fa-check"></i > Enviar o link ou compactar e enviar via e-mail.</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
